.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.expense-item__description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
    margin-left: 1rem;
}

.expense-item__price {
    font-size: 1.25rem;
    font-weight: bold;
    color: #40005d;
    background-color: #f0d9ff;
    padding: 0.5rem 1rem;
    border-radius: 12px;
}